<div class="content__title">
    <h1>
        {{title}}
    </h1>
</div>
<nz-card>
    <ng-template #body>

        <nz-schema-form (onChange)="queryFormChanged($event)" (onErrorChange)="logErrors($event.value)" [schema]="querySchema" [actions]="actions"
            [validators]="validators"></nz-schema-form>

    </ng-template>
</nz-card>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <ng-template #body>

                <div style="margin-bottom: 16px;">
                    <button class="mr-sm" type="button" nz-button [nzType]="'primary'" (click)="addEntry()">
                        <i class="anticon anticon-plus"></i>
                        新增</button>

                    <button class="mr-sm" type="button" nz-button (click)="removeItems()" [disabled]="!selectedEntries.length" [nzType]="'danger'">
                        <i class="anticon anticon-delete"></i>
                        删除</button>

                    <button class="mr-sm" type="button" nz-button [disabled]="!selectedEntries.length" [nzType]="'primary'">
                        <i class="anticon anticon-edit"></i>
                        批量修改</button>

                    <span style="margin-left: 8px;" *ngIf="selectedEntries.length">选中 {{selectedEntries.length}} 条</span>
                </div>
                <p-dataTable (onPageSizeChanged)="onPageSizeChanged($event)" (onPageIndexChanged)="onPageIndexChanged($event)" [pageIndex]="pageIndex"
                    [paginator]="true" [total]="total" [(rows)]="pageSize" [value]="entries" [(selection)]="selectedEntries"
                    [headerCheckboxToggleAllPages]="true">
                    <p-column [style]="{'width':'38px','text-align':'center'}" selectionMode="multiple"></p-column>
                    <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header">
                        <ng-template *ngIf="col.format" let-entry="rowData" pTemplate="body">
                            {{pipe(entry[col.field],col.format)}}
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'60px','text-align':'center'}">
                        <ng-template pTemplate="header">
                            操作
                        </ng-template>
                        <ng-template let-entry="rowData" pTemplate="body">
                            <a (click)="edit(entry)">编辑</a>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </ng-template>
        </nz-card>
    </div>
</div>
