<div class="widget" nz-form-control>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
            <label [ngClass]="{'ant-form-item-required':required}" [attr.for]="id" class="horizontal control-label">
                {{ schema.title }}
            </label>
            <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>
        </div>
        <div nz-col [nzSpan]="16">
            <nz-select [nzNotFoundContent]="'无法找到'" [nzShowSearch]="true" [nzPlaceHolder]="schema.placeholder" nzAllowClear [nzMode]="schema.widget.multiple"
                [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly" (nzSearchChange)="searchChange($event)"
                (nzOpenChange)="openChange($event)" class="form-control">
                <nz-option *ngFor="let option of entries" [nzValue]="option.uid" [nzLabel]="option.name"></nz-option>
            </nz-select>
        </div>
    </div>
</div>
