{{#extend "stylesheets"}}
<link rel="stylesheet" href="assets/css/index.css" /> {{/extend}}

<main>
    <h1>welcome to typerx </h1>

    <a href="/admin">admin login </a>
</main>
<!--banner-->
{{#extend "scripts"}}

<script> 

</script> {{/extend}}