<!doctype html>
<html>

<head>
    <title> {{config.name}}</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel='stylesheet' href='assets/css/style.css'> {{{block "stylesheets"}}}
</head>

<body>

    <header>
        
    </header>

    <nav>
    </nav>

    {{{body}}}
    <footer>

    </footer>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script> {{{block "scripts"}}}
</body>

</html>