<div class="content__title">
    <h1>
        文章列表
    </h1>
</div>
<nz-card>
    <ng-template #body>

        <nz-schema-form (onChange)="queryFormChanged($event);value = $event.value" (onErrorChange)="logErrors($event.value)" [schema]="querySchema"
            [actions]="actions" [validators]="validators"></nz-schema-form>

    </ng-template>
</nz-card>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card>
            <ng-template #body>

                <div style="margin-bottom: 16px;position:relative;">
                    <button class="mr-sm" type="button" nz-button [nzType]="'primary'" (click)="addEntry()">
                        <i class="anticon anticon-plus"></i>
                        新增</button>

                    <button class="mr-sm" type="button" nz-button (click)="removeItems()" [disabled]="!selectedEntries.length" [nzType]="'danger'">
                        <i class="anticon anticon-delete"></i>
                        删除</button>

                    <nz-dropdown [nzClickHide]="false" style="position:absolute;right:0;">
                        <button (click)="showModal()" nz-button nz-dropdown>
                            <span>选择列</span>
                            <i class="anticon anticon-down"></i>
                        </button>
                    </nz-dropdown>
                </div>

                <p-dataTable (onPageSizeChanged)="onPageSizeChanged($event)" (onPageIndexChanged)="onPageIndexChanged($event)" [pageIndex]="pageIndex"
                    [paginator]="true" [total]="total" [(rows)]="pageSize" [value]="entries" [(selection)]="selectedEntries"
                    [headerCheckboxToggleAllPages]="true">
                    <p-column [style]="{'width':'38px','text-align':'center'}" selectionMode="multiple"></p-column>
                    <p-column [style]="col.style" *ngFor="let col of columns" [field]="col.field" [header]="col.header">
                        <ng-template *ngIf="col.format" let-entry="rowData" pTemplate="body">
                            {{pipe(entry[col.field],col.format)}}
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'120px','text-align':'center'}">
                        <ng-template pTemplate="header">
                            操作
                        </ng-template>
                        <ng-template let-entry="rowData" pTemplate="body">
                            <a (click)="edit(entry)">编辑</a>
                        </ng-template>
                    </p-column>

                    <p-footer>
                    </p-footer>
                </p-dataTable>
            </ng-template>
        </nz-card>
    </div>
</div>
