<div class="widget" nz-form-control>
    <div nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
            <label [ngClass]="{'ant-form-item-required':required}" [attr.for]="id" class="horizontal control-label">
                {{ schema.title }}
            </label>
            <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>
        </div>
        <div nz-col [nzSpan]="16">
            <nz-radio-group [formControl]="control">
                <label *ngFor="let option of entries" nz-radio [nzValue]="option.name">
                    <span>{{option.translate}}</span>
                </label>
            </nz-radio-group>
        </div>
    </div>
</div>
