<div class="widget form-group" nz-form-control>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
            <label [ngClass]="{'ant-form-item-required':required}" [attr.for]="id" class="horizontal control-label">
                {{ schema.title }}
            </label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
            <div *ngIf="schema.type!='array'" class="checkbox">
                <label nz-checkbox [formControl]="control" [nzDisabled]="schema.readOnly"></label>
            </div>

            <ng-container *ngIf="schema.type==='array'">
                <div *ngFor="let option of schema.items.oneOf" class="checkbox">
                    <label class="horizontal control-label">
                        <input [attr.name]="name" value="{{option.enum[0]}}" type="checkbox" [attr.disabled]="schema.readOnly" (change)="onCheck($event.target)"
                            [attr.checked]="checked[option.enum[0]] ? true : null"> {{option.description}}
                    </label>
                </div>
            </ng-container>
        </div>
    </div>
</div>
