<div [ngStyle]="style" [class]="styleClass" [style.width]="containerWidth" [ngClass]="{'ui-datatable ui-widget':true,'ui-datatable-reflow':responsive,'ui-datatable-stacked':stacked,'ui-datatable-resizable':resizableColumns,'ui-datatable-scrollable':scrollable}">
    <div class="ui-datatable-loading ui-widget-overlay" *ngIf="loading"></div>
    <div class="ui-datatable-loading-content" *ngIf="loading">
        <i [class]="'fa fa-spin fa-2x ' + loadingIcon"></i>
    </div>
    <div class="ui-datatable-header ui-widget-header" *ngIf="header">
        <ng-content select="p-header"></ng-content>
    </div>


    <!-- <p-paginator [rows]="rows" [first]="first" [totalRecords]="totalRecords" [pageLinkSize]="pageLinks" styleClass="ui-paginator-top"
        [alwaysShow]="alwaysShowPaginator" (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="rowsPerPageOptions" *ngIf="paginator && paginatorPosition =='top' || paginatorPosition =='both'"></p-paginator> -->

    <nz-pagination [nzPageIndex]="3" [nzTotal]="totalRecords" nzShowSizeChanger [nzPageSize]="40" *ngIf="paginator && paginatorPosition =='top' || paginatorPosition =='both'"></nz-pagination>

    <div class="ui-datatable-tablewrapper" *ngIf="!scrollable">
        <table [ngClass]="tableStyleClass" [ngStyle]="tableStyle">
            <thead class="ui-datatable-thead">
                <tr *ngIf="!headerColumnGroups.first" class="ui-state-default" [pColumnHeaders]="columns"></tr>
                <ng-template [ngIf]="headerColumnGroups.first">
                    <tr *ngFor="let headerRow of headerColumnGroups.first.rows" class="ui-state-default" [pColumnHeaders]="headerRow.columns"></tr>
                </ng-template>
            </thead>
            <tfoot *ngIf="hasFooter()" class="ui-datatable-tfoot">
                <tr *ngIf="!footerColumnGroups.first" class="ui-state-default" [pColumnFooters]="columns"></tr>
                <ng-template [ngIf]="footerColumnGroups.first">
                    <tr *ngFor="let footerRow of footerColumnGroups.first.rows" class="ui-state-default" [pColumnFooters]="footerRow.columns"></tr>
                </ng-template>
            </tfoot>
            <tbody [ngClass]="{'ui-datatable-data ui-widget-content': true, 'ui-datatable-hoverable-rows': (rowHover||selectionMode)}"
                [pTableBody]="columns" [data]="dataToRender"></tbody>
        </table>
    </div>

    <ng-template [ngIf]="scrollable">
        <div class="ui-datatable-scrollable-wrapper ui-helper-clearfix" [ngClass]="{'max-height':scrollHeight}">
            <div *ngIf="hasFrozenColumns()" [pScrollableView]="frozenColumns" frozen="true" [headerColumnGroup]="frozenHeaderColumnGroup"
                [footerColumnGroup]="frozenFooterColumnGroup" [ngStyle]="{'width':this.frozenWidth}" class="ui-datatable-scrollable-view ui-datatable-frozen-view"></div>
            <div [pScrollableView]="scrollableColumns" [ngStyle]="{'width':this.unfrozenWidth, 'left': this.frozenWidth}" [headerColumnGroup]="scrollableHeaderColumnGroup"
                [footerColumnGroup]="scrollableFooterColumnGroup" class="ui-datatable-scrollable-view" [virtualScroll]="virtualScroll"
                (onVirtualScroll)="onVirtualScroll($event)" [ngClass]="{'ui-datatable-unfrozen-view': hasFrozenColumns()}"></div>
        </div>
    </ng-template>

    <!-- <p-paginator [rows]="rows" [first]="first" [totalRecords]="totalRecords" [pageLinkSize]="pageLinks" styleClass="ui-paginator-bottom"
        [alwaysShow]="alwaysShowPaginator" (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="rowsPerPageOptions" *ngIf="paginator && paginatorPosition =='bottom' || paginatorPosition =='both'"></p-paginator> -->

    <nz-pagination class="ant-table-pagination" [(nzPageIndex)]="pageIndex" [nzTotal]="total" nzShowSizeChanger [(nzPageSize)]="pageSize"
        *ngIf="paginator && paginatorPosition =='bottom' || paginatorPosition =='both'"></nz-pagination>

    <div class="ui-datatable-footer ui-widget-header" *ngIf="footer">
        <ng-content select="p-footer"></ng-content>
    </div>

    <div class="ui-column-resizer-helper ui-state-highlight" style="display:none"></div>
    <span class="fa fa-arrow-down ui-datatable-reorder-indicator-up" style="position: absolute; display: none;"></span>
    <span class="fa fa-arrow-up ui-datatable-reorder-indicator-down" style="position: absolute; display: none;"></span>
</div>
