<div class="widget" nz-form-control>
    <div nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
            <label [ngClass]="{'ant-form-item-required':required}" [attr.for]="id" class="horizontal control-label">
                {{ schema.title }}
            </label>
            <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>

        </div>
        <div nz-col [nzSpan]="16">
            <nz-select [nzNotFoundContent]="'无法找到'" [nzShowSearch]="true" [nzPlaceHolder]="schema.placeholder" [nzMode]="schema.widget.multiple"
                [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly" class="form-control">
                <nz-option *ngIf="nullable" [nzValue]="" [nzLabel]="'&nbsp;'"></nz-option>
                <nz-option *ngFor="let option of entries" [nzValue]="option.name" [nzLabel]="option.translate"></nz-option>
            </nz-select>
        </div>
    </div>
</div>