<input *ngIf="this.getInputType()==='hidden'; else notHiddenFieldBlock" [attr.name]="name" type="hidden" [formControl]="control">
<ng-template #notHiddenFieldBlock>
    <div class="widget" nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
            <label [ngClass]="{'ant-form-item-required':required}" [attr.for]="id" class="horizontal control-label">
                {{ schema.title }}
            </label>
            <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>
        </div>
        <div nz-col [nzSpan]="16">
            <nz-input [attr.name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null" class="text-widget.id textline-widget form-control"
                [nzType]="this.getInputType()" [attr.id]="id" [formControl]="control" [attr.placeholder]="schema.placeholder"
                [maxlength]="schema.maxlength || null" [minlength]="schema.minlength || null" [nzDisabled]="schema.readOnly"
                [nzPlaceHolder]="schema.placeholder">
                <ng-template *ngIf="schema.widget.icon" #prefix>
                    <i class="anticon {{schema.widget.icon}}"></i>
                </ng-template>
            </nz-input>
        </div>
        <input *ngIf="(schema.widget.id==='color' && schema.readOnly)" [attr.name]="name" type="hidden" [formControl]="control">
    </div>
</ng-template>
